BOT_TOKEN=YOUR_BOT_TOKEN
MONGO_URI=YOUR_MONGODB_URI

OWNER_ID=123456789

UPDATE_CHANNEL=@YourUpdateChannel
LOG_GROUP_ID=-1001234567890

WELCOME_PHOTO=https://example.com/welcome.jpg

DEFAULT_MUTE_HOURS=24
WARN_LIMIT=3